@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    padding: 10px;
}

main {
    
}

main,
header {
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
}

.home {
    gap: 10px;
}

header {
    padding: 5px 20px;
}

nav h3 {
    color: white;
}

section {
    margin: 0 15px 20px;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.recents {
    padding-top: 10px;
    background: linear-gradient(rgb(40, 25, 60), rgb(20, 20, 20));
}

.playlists {
    gap: 10px;
}

.playlists h3 {
    background-color: rgb(40, 40, 40);
    padding: 20px 15px;
    border-radius: 5px;
    margin: 0;
    color: white;
}

.playlists h3:hover {
    background-color: rgb(60, 60, 60);
}

a {
    text-decoration: none;
}

.todays-hits .list,
.your-shows .list {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.your-shows div:nth-child(1), 
.todays-hits div:nth-child(1) {
    justify-content: space-between;
    align-items: center;
}

.your-shows div:nth-child(1) a:hover,
.todays-hits div:nth-child(1) a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.todays-hits .list div,
.your-shows .list div {
    background-color: rgb(25, 25, 25);
    padding: 15px;
    border-radius: 5px;
}

.todays-hits .list div:hover,
.your-shows .list div:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

.todays-hits img,
.your-shows img {
    border-radius: 5px;
    width: 100%;
}