@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(170, 170, 170);
}

main,
header,
aside {
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
}

header {
    padding: 5px 20px;
}

aside {
    padding: 5px 20px 20px;
    display: none;
}

aside div {
    gap: 6px;
}

aside button {
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    background-color: rgb(40, 40, 40);
    color: white;
}

aside button:hover {
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

aside button:active {
    background-color: rgb(30, 30, 30);
}

aside img {
    max-width: 40px;
    align-self: center;
    border-radius: 5px;
}

section {
    padding: 0 15px 20px;
}

.home {
    gap: 10px;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

nav a:hover {
    color: white;
}

.recents {
    padding-top: 10px;
    background: linear-gradient(rgb(40, 25, 60), rgb(20, 20, 20));
    border-radius: 10px;
}

.playlists {
    gap: 10px;
}

.playlists a {
    align-items: center;
    gap: 15px;
    background-color: rgba(80, 80, 80, 0.4);
    color: white;
    border-radius: 5px;
    padding-right: 15px;

    /* For text overflow */
    overflow: hidden;
}

.playlists h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlists a:hover {
    background-color: rgb(80, 80, 80, 0.8);
}

.playlists img {
    max-width: 60px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.todays-hits .list,
.your-shows .list {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.your-shows div:nth-child(1), 
.todays-hits div:nth-child(1) {
    justify-content: space-between;
    align-items: center;
}

.your-shows div:nth-child(1) a:hover,
.todays-hits div:nth-child(1) a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.todays-hits .list div,
.your-shows .list div {
    background-color: rgb(30, 30, 30);
    padding: 15px;
    border-radius: 5px;
}

.todays-hits .list div:hover,
.your-shows .list div:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

.todays-hits img,
.your-shows img {
    border-radius: 5px;
    width: 100%;
}

.todays-hits h5,
.your-shows h5 {
    color: rgb(170, 170, 170);
}

.your-shows .list div:nth-child(n+3),
.todays-hits .list div:nth-child(n+3) {
    display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .playlists {
        grid-template-columns: repeat(2, 1fr);
    }

    .todays-hits .list,
    .your-shows .list {
        grid-template-columns: repeat(3, 1fr);
    }

    .your-shows .list div:nth-child(3),
    .todays-hits .list div:nth-child(3) {
        display: block;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .playlists {
        grid-template-columns: repeat(3, 1fr);
    }

    .todays-hits .list,
    .your-shows .list {
        grid-template-columns: repeat(4, 1fr);
    }

    .your-shows .list div:nth-child(4),
    .todays-hits .list div:nth-child(4) {
        display: block;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}